<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="condata" connectionString="Data Source=tcp:nextgencu1dbserver.database.windows.net,1433;Initial Catalog=NextGen_business_devUAT_CU1;User ID=nextgencu1admin;Password=P@ssw0rd9090" />
	  <add name="condataMDC" connectionString="Data Source=tcp:nextgencu1dbserver.database.windows.net,1433;Initial Catalog=NextGen_business_devUAT_CU1;User ID=nextgencu1admin;Password=P@ssw0rd9090" />

  </connectionStrings>
  <appSettings>
    <add key="TestDataSP" value="selectForgiveness" />
	  <add key="TestDataSPMDC" value="sps_ForgivenessMbl" />
	  <add key="TestDataSPStatus" value="spu_tbl_SbaForgiveness" />
	  <add key="DeleteRequest" value="spd_DeleteForgivenessRequest" />
	  <add key="ApplicationStatus" value="sps_SelectApplicationStatus" />
	  <add key="Interval" value="9000000" />
    <add key="EnableEventLogging" value="false" />
    <add key="LogFileLocation" value="C:\\ForgivenessLog\\Logs" />
    <add key="baseUri" value="https://sandbox.forgiveness.sba.gov/api/" />
    <add key="apiToken" value="Token b99a02e80072a06a6ea0f5cb40e4acc6cfb798bf" />
    <add key="vendorKey" value="06b510c8-9004-4270-a417-d58a37a948d8" />
	  <add key="baseUriMDL" value="https://sandbox.forgiveness.sba.gov/api/" />
	  <add key="apiTokenMDL" value="Token 5652b4233539aea02aea09ac5fdf8f444df56d20" />
	  <add key="vendorKeyMDL" value="56df7532-e73f-46bb-8a31-85ab63eec023" />
	  
	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>